* {
  margin: 0;
  padding: 0;
}

body {
  background-color:lightblue;
  height: 100vh;
  width: 100%;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 16px;

}
#cellContainer {
  display:grid;
  width: 600px;
  height: 600px;
  background-color: white;
  border: 5px solid black;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}
.cell {
    border: 5px solid black;
    font-size: 10em;
    align-items: center;
    text-align: center;
    cursor: pointer;
}

h1 {
    text-align: center;
}
